<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.jjantschulev.gomoku"
    versionCode = "10"
    version     = "0.1.0" >

<!-- versionCode is optional and Android only -->

  <icon src="public/assets/dark.png" />
  <name>Gomoku</name>
  <preference name="fullscreen" value="false" />
  <access origin="192.168.0.50:5000*" />
  <description>
      Online Multiplayer Gomoku.
  </description>

  <author>
      Jordan Jantschulev
  </author>

</widget>
